	<!-- Footer -->
		<footer class="myFooter">
		  <!-- Copyright -->
		  <div class=" myFooter text-center bg-light"> © 2019 Copyright: Zayani Wajdi </div>
		  <!-- Copyright -->
		</footer>
	<!-- Footer -->	


	<!-- SCRIPTS -->
		 
		<!-- Google Map -->
		<!-- the key is web site key not gecoder key -->
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJfvzOr61ue7ssmh-VG-TIW0a7kjuvBdU&callback=initMap"  type="text/javascript"></script>
		<!-- JQuery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
	</body>
</html>